<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<table>
<tr>
	<th>State Bank Services</th>
</tr>
<tr><td>savings account</td></tr>
<tr><td>credit cards</td></tr>
<tr><td>fixed deposits</td></tr>
<tr><td>personal loan</td></tr>
<tr><td>home loan</td></tr>
<tr><td>business loan</td></tr>
<tr><td>debit card</td></tr>
<tr><td>loan against property</td></tr>
<tr><td>car loan</td></tr>
<tr><td>mudra loan</td></tr>
<tr><td>education loan</td></tr>
</table>
</body>
</html>